<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Hello
</body>
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        // var cookie = document.cookie;
        // cookiearray = cookie.split(';');
        //
        // var token = cookiearray[0].split('=')[1];
        var token = localStorage.getItem('token');
        console.log(token);

        $.ajax({
            type : "GET",
            url: "https://localhost:49157/api/users",
            //dataType: "json",
            headers: {Authorization: 'Bearer '+localStorage.getItem('token')},
            success : function(data){
                console.log(data);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        })
    })
</script>
</html>